footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    background-image: url('../images/header.jpg');
    background-size: cover;
    padding: 1rem;
    background-size: 50%;
}


.containerf {

    min-height: 100vh;
    position: relative;
}